[Desktop Entry]
Type=Application
Name=msgsecure
Comment=Convert MSG/EML/PST into one searchable TXT (GUI)
Exec=msgsecure-linux-gui
Icon=msgsecure_logo
Terminal=false
Categories=Office;Utility;

